<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Lobster&family=Quicksand&display=swap" rel="stylesheet">

    <title>goRant Blogposting App</title>
</head>

<body>


<header class="container">

    <!-- the makeshift logo -->
    <div id="logo" class="container">
        <h1 id=logo-hero class="league-spartan"  style="margin:0; padding: 0;">
            goRant
        </h1>
        <p class="league-spartan"  style="margin:0; padding: 0;">
            blogposting
        </p>
    </div>

</header>


<main class="container">